/* Root */
:root {
    --links: #4E80EE;
    --text: #030616;
    --header-bg: #FFFFFF;
    --body-bg: #F8FAFC;
    --border: #D2D5DA;
}

/* General */
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 32px;
    color: var(--text);
    background-color: var(--body-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bold {
    font-weight: bold;
}

/* Header */
header {
    background-color: var(--header-bg);
    padding: 64px 48px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

/* Main Section */
main {
    padding: 32px 24px;
    max-width: 672px;
}

/* FAQ Sections */
.faq-div {
    padding: 36px 0;
}

.faq-div:not(:last-child) {
    border-bottom: 1px solid var(--border);
}

.faq-div h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 22px;
}

.faq-div ul, .faq-div ol {
    padding: 0 24px;
    margin: 20px 0;
}

.faq-div a {
    color: var(--links);
    text-decoration: none;
}